# Dataset Overview

In [1]:
import pandas as pd
df = pd.read_csv('public.csv')
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15565701,Ferri,698,Spain,Female,39,9,161993.89,1,0,0,90212.38,0
1,15565706,Akobundu,612,Spain,Male,35,1,0.00,1,1,1,83256.26,1
2,15565796,Docherty,745,Germany,Male,48,10,96048.55,1,1,0,74510.65,0
3,15565806,Toosey,532,France,Male,38,9,0.00,2,0,0,30583.95,0
4,15565878,Bates,631,Spain,Male,29,3,0.00,2,1,1,197963.46,0
5,15565879,Riley,845,France,Female,28,9,0.00,2,1,1,56185.98,0
6,15565996,Arnold,653,France,Male,44,8,0.00,2,1,1,154639.72,0
7,15566030,Tu,497,Germany,Male,41,5,80542.81,1,0,0,88729.22,1
8,15566091,Thomsen,545,Spain,Female,32,4,0.00,1,1,0,94739.20,0
9,15566111,Estes,596,France,Male,39,9,0.00,1,1,0,48963.59,0
10,15566139,Ts'ui,526,France,Female,37,5,53573.18,1,1,0,62830.97,0
11,15566251,Ferrari,618,France,Female,37,5,96652.86,1,1,0,98686.40,1
12,15566253,Manning,580,Germany,Male,44,9,143391.07,1,0,0,146891.07,1
13,15566269,Chialuka,787,France,Male,25,5,0.00,2,1,0,47307.90,0
14,15566295,Sanders,761,France,Female,33,6,138053.79,2,1,0,148779.41,0
15,15566312,Jolly,660,Spain,Female,42,5,0.00,3,1,1,189016.24,1
16,15566378,Tillman,515,France,Male,48,5,129387.94,1,0,1,147955.91,1
17,15566380,Drury,586,Spain,Female,33,10,66948.67,2,1,1,140759.03,0
18,15566467,Hannah,683,Germany,Female,32,0,138171.10,2,1,1,188203.58,0
19,15566494,Fang,487,France,Male,45,2,0.00,2,1,0,77475.73,0
20,15566495,Hanson,704,Spain,Female,24,2,0.00,1,1,0,35600.25,1
21,15566531,Iloerika,724,Germany,Male,33,4,88046.88,1,0,1,186942.49,1
22,15566543,Aldridge,573,Spain,Male,44,9,0.00,2,1,0,107124.17,0
23,15566563,Duigan,777,France,Female,30,4,137851.31,1,1,0,5008.23,1
24,15566594,McKenzie,709,Spain,Male,23,10,0.00,2,0,0,129590.18,0
25,15566633,Freeman,698,Germany,Male,55,8,155059.10,2,1,1,144584.29,0
26,15566689,Chimaoke,554,Spain,Male,66,8,0.00,2,1,1,116747.62,0
27,15566740,Nazarova,587,Spain,Male,51,3,83739.32,1,0,1,148798.45,0
28,15566790,McIntyre,598,France,Male,28,8,129991.76,2,0,1,46041.08,0
29,15566843,Gotch,535,Germany,Male,20,9,134874.40,1,1,1,118825.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7970,15814846,Ozerova,691,France,Male,52,3,0.00,1,1,0,175843.68,1
7971,15814923,Sullivan,606,Spain,Male,38,7,128578.52,1,1,1,193878.51,0
7972,15814930,McGregor,588,Germany,Female,40,10,125534.51,1,1,0,121504.18,1
7973,15814940,Lawrence,642,Spain,Female,33,9,0.00,2,1,1,150475.14,0
7974,15814998,Bonham,688,Spain,Male,42,5,0.00,2,0,0,197602.29,0
7975,15815040,Ma,552,Germany,Female,42,8,103362.14,1,0,1,186869.58,1
7976,15815043,McMillan,645,Spain,Male,49,8,0.00,2,1,0,162012.60,0
7977,15815070,Romano,566,Germany,Female,44,5,141428.99,2,0,0,68408.74,0
7978,15815095,Burfitt,850,Spain,Male,54,7,108185.81,2,0,0,24093.40,1
7979,15815097,Root,603,France,Female,34,9,0.00,2,1,0,167916.35,0
7980,15815125,Michael,668,Spain,Male,45,4,102486.21,2,1,1,158379.25,0
7981,15815131,Howells,617,Spain,Female,36,7,115617.24,1,1,1,71519.40,0
7982,15815259,Fang,835,France,Female,56,2,0.00,2,1,1,39820.13,0
7983,15815295,John,662,France,Female,38,2,96479.81,1,1,0,120259.41,0
7984,15815316,Kennedy,644,France,Male,50,9,76817.00,4,1,0,196371.13,1
7985,15815364,Ashley,736,Spain,Female,28,2,0.00,2,1,1,117431.10,0
7986,15815420,McDaniels,808,Spain,Male,47,8,139196.00,1,0,1,74028.36,0
7987,15815428,Biryukova,823,France,Male,34,3,105057.33,1,1,0,9217.92,0
7988,15815443,Lo,527,Spain,Female,46,10,131414.76,1,1,0,54947.51,0
7989,15815530,Chin,612,France,Female,42,10,75497.51,1,0,0,149682.78,0
7990,15815534,Guidry,505,Spain,Male,37,0,134006.39,1,1,1,93736.69,0
7991,15815552,Ferguson,670,France,Female,42,6,112333.63,1,1,1,65706.86,0
7992,15815560,Bogle,666,Germany,Male,74,7,105102.50,1,1,1,46172.47,0
7993,15815615,Kung,681,France,Male,36,5,141952.07,1,1,1,185144.08,0
7994,15815626,Oluchi,640,France,Male,63,2,68432.45,2,1,1,112503.24,1
7995,15815628,Moysey,711,France,Female,37,8,113899.92,1,0,0,80215.20,0
7996,15815645,Akhtar,481,France,Male,37,8,152303.66,2,1,1,175082.20,0
7997,15815656,Hopkins,541,Germany,Female,39,9,100116.67,1,1,1,199808.10,1
7998,15815660,Mazzi,758,France,Female,34,1,154139.45,1,1,1,60728.89,0
7999,15815690,Akabueze,614,Spain,Female,40,3,113348.50,1,1,1,77789.01,0

# Use Pyspark to view dataset

In [2]:
import findspark
findspark.init('/home/austin/spark-2.1.0-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Churn_Modelling").getOrCreate()
df = spark.read.csv('public.csv', header=True, inferSchema=True)
df.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

# Do your work here

In [3]:
# preprocessing
# drop ID, name
drop_col = ['CustomerId', 'Surname', 'Geography']
df = df.select([col for col in df.columns if col not in drop_col])
df_label_pd = df.groupby('Exited').count().toPandas()
ratio = df_label_pd['count'].iloc[0]/df_label_pd['count'].iloc[1]
print(df_label_pd)
print(ratio)

# add weight balance
from pyspark.sql.functions import when, col
def weight_balance(labels):
    return when(labels == 0, ratio).otherwise(1*(1-ratio))

df = df.withColumn('weights', weight_balance(col('Exited')))

   Exited  count
0       1   1644
1       0   6356
0.25865324103209564

In [4]:
# feature engineering
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml import Pipeline


cat_cols = [item[0] for item in df.dtypes if item[1].startswith('string')]
num_cols = [item[0] for item in df.dtypes if item[1].startswith('int') | item[1].startswith('double')][1:]

indexers = [
    StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c))
    for c in cat_cols
]
encoders = [
    OneHotEncoder(
        inputCol=indexer.getOutputCol(),
        outputCol="{0}_encoded".format(indexer.getOutputCol())) 
    for indexer in indexers
]
assemblerInputs = [encoder.getOutputCol() for encoder in encoders] + num_cols
assembler = VectorAssembler(
    inputCols=assemblerInputs,
    outputCol="features"
)


cols = df.columns
pipeline = Pipeline(stages = indexers + encoders + [assembler])
pipelineModel = pipeline.fit(df)
df = pipelineModel.transform(df)

selectedCols = ['features'] + cols
df = df.select(selectedCols)
pd.DataFrame(df.take(5), columns=df.columns)

,features,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,weights
0,"[0.0, 39.0, 9.0, 161993.89, 1.0, 0.0, 0.0, 902...",698,Female,39,9,161993.89,1,0,0,90212.38,0,0.258653
1,"[1.0, 35.0, 1.0, 0.0, 1.0, 1.0, 1.0, 83256.26,...",612,Male,35,1,0.00,1,1,1,83256.26,1,0.741347
2,"[1.0, 48.0, 10.0, 96048.55, 1.0, 1.0, 0.0, 745...",745,Male,48,10,96048.55,1,1,0,74510.65,0,0.258653
3,"[1.0, 38.0, 9.0, 0.0, 2.0, 0.0, 0.0, 30583.95,...",532,Male,38,9,0.00,2,0,0,30583.95,0,0.258653
4,"[1.0, 29.0, 3.0, 0.0, 2.0, 1.0, 1.0, 197963.46...",631,Male,29,3,0.00,2,1,1,197963.46,0,0.258653

In [5]:
# Logistic Regression
train, test = df.randomSplit([0.80, 0.20], seed=42)

# first we check how LogisticRegression perform 
from pyspark.ml.classification import LogisticRegression

LR = LogisticRegression(featuresCol = 'features', labelCol = 'Exited', maxIter=15)
LR_model = LR.fit(train)

from pyspark.ml.evaluation import BinaryClassificationEvaluator
predictions_LR = LR_model.transform(test)
evaluator = BinaryClassificationEvaluator(labelCol="Exited")
print("Test_SET (Area Under ROC): " + str(evaluator.evaluate(predictions_LR, {evaluator.metricName: "areaUnderROC"})))

Test_SET (Area Under ROC): 1.0

In [6]:
# Gradient Boosting Trees
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

gbt = GBTClassifier(featuresCol = 'features', labelCol = 'Exited', maxIter=15)
GBT_Model = gbt.fit(train)
gbt_predictions = GBT_Model.transform(test)
evaluator = MulticlassClassificationEvaluator(
    labelCol="Exited", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(gbt_predictions)
print("Test Error = %g" % (1.0 - accuracy))

Test Error = 0

# Evaluation Part

## Load private dataset, the same structure as public dataset

In [7]:
df_private = spark.read.csv('public.csv',header=True,inferSchema=True)  # TA takes public dataset as example

## Do prediction with your PySpark model here

In [8]:
drop_col = ['CustomerId', 'Surname', 'Geography']
df_eval = df_private.select([col for col in df_private.columns if col not in drop_col])
df_label_pd = df_eval.groupby('Exited').count().toPandas()
ratio = df_label_pd['count'].iloc[0]/df_label_pd['count'].iloc[1]

# add weight balance
from pyspark.sql.functions import when, col
def weight_balance(labels):
    return when(labels == 0, ratio).otherwise(1*(1-ratio))

df_eval = df_eval.withColumn('weights', weight_balance(col('Exited')))

cat_cols = [item[0] for item in df_eval.dtypes if item[1].startswith('string')]
num_cols = [item[0] for item in df_eval.dtypes if item[1].startswith('int') | item[1].startswith('double')][1:]

indexers = [
    StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c))
    for c in cat_cols
]
encoders = [
    OneHotEncoder(
        inputCol=indexer.getOutputCol(),
        outputCol="{0}_encoded".format(indexer.getOutputCol())) 
    for indexer in indexers
]
assemblerInputs = [encoder.getOutputCol() for encoder in encoders] + num_cols
assembler = VectorAssembler(
    inputCols=assemblerInputs,
    outputCol="features"
)


cols = df_eval.columns
pipeline = Pipeline(stages = indexers + encoders + [assembler])
pipelineModel = pipeline.fit(df_eval)
df_eval = pipelineModel.transform(df_eval)

selectedCols = ['features'] + cols
df_eval = df_eval.select(selectedCols)
gbt_predictions = GBT_Model.transform(df_eval)

In [9]:
df_private = df_private.withColumn('Exited', gbt_predictions['Exited'])

## Print Your result as the following type

In [10]:
df_private.select('CustomerId','Exited').show(5)

+----------+------+
|CustomerId|Exited|
+----------+------+
|  15565701|     0|
|  15565706|     1|
|  15565796|     0|
|  15565806|     0|
|  15565878|     0|
+----------+------+
only showing top 5 rows

## TA will use the following function to get your prediction result (f-1 score)

In [11]:
from sklearn import metrics
import numpy as np
data_array =  np.array(df_private.select('Exited').collect())

metrics.f1_score(data_array,data_array)

1.0